header {
    background-color: #bbb;
    padding: 20px 0;
}

.container-header {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    /* display: inline-block; */
    text-align: center;
    /* width: 30%; */
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    /**
    também pode ser dessa forma abaixo:
     border: 2px solid #000; */
    border-radius: 8px;
}

.products li:hover {
    border-color: #c78c19;
    transition: 0.5s;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.products li:active {
    border-color: green;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.description-paragraph {
    font-size: 18px;
}

.price-paragraph {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form  legend {
    display: block;
    margin: 0 0 10px;
    font-size: 20px;
}

fieldset + fieldset {
    margin-top: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.send-form {
    width: 40%;
    padding: 15px 0;
    background: orange;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.send-form:hover {
    background-color: darkorange;
    transform: scale(1.05);
}

table {
    margin: 20px 40px;
}

table thead {
    background: #555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000;
    padding: 8px 15px;
}